.about-me {
    text-align: center;
    padding-top:2em;
}

.about-me .photo {
    border-radius: 50%;
}
.about-me .name {

}
.about-me .about {
    margin: 0 10%;
}



@media (min-width: 44em) { /* 700px */
  
}

@media (min-width:58em) { /* 930px */
  
}