.countdown {
    font-family: var(--serif);
    font-size: 1.3rem;
    line-height: 2rem;
    padding:.9rem 1rem 1.2rem;
    text-align:center;
    background-color: var(--panel-background);
}

@media (min-width: 44rem) { /* 700px */
    .countdown {    
        font-size: 2rem;
        padding: 1.2rem 0 1.6rem;
    }
}

@media (min-width:58rem) { /* 930px */
    .countdown {    
        width: 75%;
        border-radius:0.2rem;
        margin: -2.4rem auto 0;
        padding: 1.1rem 0 1.3rem;
    }
}