.countdown {
    font-family: var(--serif);
    font-size: 1.5em;
    line-height:1.1;
    padding:.6em 0 .8em;
    text-align:center;
}

@media (min-width: 44em) { /* 700px */
    .countdown {    
        font-size: 2em;
        background-color: var(--panel-background);
        color: var(--main-background);
    }
}

@media (min-width:58em) { /* 930px */
    .countdown {    
        width: 75%;
        border-radius:0.2em;
        margin: -1.75em auto 0;
        padding:1.1em 0 1.3em;
    }
}