@import url("colors.css");
@import url("fonts.css");

@import url("menu.css");
@import url("banner.css");
@import url("countdown.css");

* {
    color: var(--main-text);
    font-family: var(--sans-serif);
    /* text-align: center; */
    /* font-size:1.5em; */
}

/* *, .pure-g [class *= "pure-u"] {   
    font-family: 'Mea Culpa', cursive;
} */


body {
    /* overflow: hidden; */
    background-color: var(--main-background);
}

h1 {
    font-family: var(--cursive);
}

img {
    width:30%;
}