@import url("colors.css");
@import url("fonts.css");

@import url("menu.css");
@import url("banner.css");
@import url("countdown.css");
@import url("about-me.css");
@import url("footer.css");

body {
    /* overflow: hidden; */
    background-color: var(--main-background);
    font-family: var(--serif);
    color: var(--main-text);
}

.pure-g [class *= "pure-u"] {   
    font-family: var(--serif);
}

h1 {
    font-family: var(--cursive);
    font-weight: normal;
}
h2 {
    font-family: var(--sans-serif);
    font-weight: normal;
}

body.loading  [lang=et] {
    display: none;
}