.menu-bar {
    background-color: var(--menu-background);
    -webkit-font-smoothing: antialiased;
    height: 2.73rem;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    font-size: 1.3rem;
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
}

.pure-menu-heading,
.menu-items .pure-menu-link {
    color: var(--menu-text)
}
.menu-items .pure-menu-link:hover {
    background-color: var(--menu-background-hover)
}
.menu-items .pure-menu-link:focus {
    background-color: transparent;
}

.menu-items {
    text-align: right;
    font-size: 1rem;
    line-height:1.75rem;
}

.menu-toggle {
    display: none;
}

@media (min-width: 48rem) {  /* 768px */
    .menu-bar {
        height: 2.1rem;
        font-size: 1rem;
    }
    .menu-items {
        line-height: 1.1rem;
    }
}

@media (min-width:58rem) { /* 930px */
    .menu-bar {
        height: 3.25rem;
        font-size: 1.5rem;
    }
    .menu-items {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}